{
  "openapi": "3.1.0",
  "info": {
    "title": "Nikunj Maheshwari API",
    "description": "Public API for interacting with Nikunj Maheshwari's portfolio and projects.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nikunjmaheshwari.xyz",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get all projects",
        "description": "Retrieves a list of featured projects by Nikunj Maheshwari. Content negotiation is supported (application/json or text/markdown).",
        "responses": {
          "200": {
            "description": "A list of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "success"
          },
          "data": {
            "type": "array",
            "description": "List of projects.",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          }
        },
        "required": ["status", "data"]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the project."
          },
          "name": {
            "type": "string",
            "description": "The name of the project."
          },
          "description": {
            "type": "string",
            "description": "A short description of the project."
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The technologies used to build the project."
          },
          "url": {
            "type": "string",
            "description": "The public URL to the project."
          }
        },
        "required": ["id", "name", "description", "technologies", "url"]
      }
    }
  }
}
